<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Code Generator</title>
        <link rel="icon" type="image/x-icon" href={{ url_for('static', path='/favicon.png') }} />
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    </head>
    <body>
        <!-- banner -->
        <div class="bg-indigo-600">
            <div class="max-w-screen-xl mx-auto px-4 py-3 items-center gap-x-4 justify-center text-white sm:flex md:px-8">
                <p class="py-2 font-medium">
                    This Web App is just a Demo.
                </p>
            </div>
        </div>
        <!-- banner -->
        
        <!-- CTO -->
        <section class="py-28 bg-gradient-to-r from-[#FFDEE9] to-[#B5FFFC] relative bg-white-600">
            <div class="relative z-10 max-w-screen-xl mx-auto px-4 md:text-center md:px-8">
                <div class="max-w-xl md:mx-auto">
                    <p class="text-gray-800 text-3xl font-semibold sm:text-4xl">
                        Code Generator
                    </p>
                    <p class="text-gray-500 mt-3">
                        A user-friendly web app that generates customizable QR codes and barcodes.
                    </p>
                    </br>
                    <p class="text-gray-800 text-xl font-semibold">
                        Enjoy ! 🎉🎉, Check out the 
                    </p>
                    </br>
                    <p class="text-gray-800 text-xl font-semibold">
                        <a href="/docs" class="px-4 py-2 text-white bg-indigo-600 rounded-full duration-150 hover:bg-indigo-500 active:bg-indigo-700">
                            Documentation
                        </a>
                    </p>
                </div>
            </div>
        </section>
        <!-- CTO -->
        
        <!-- FORM -->
        <section class="max-w-screen-xl mx-auto py-4 px-4 md:px-8 flex-grow">
            <div class="absolute top-0 left-0 w-full bg-white opacity-40"></div>
            <div class="relative z-10 gap-5 items-center justify-between lg:flex">
                <div id="form" class="flex-1 max-w-lg py-5 sm:mx-auto sm:text-center lg:max-w-max lg:text-left">
                    <div class="max-w-xs mt-2 mb-10">
                        <fieldset class="flex flex-wrap gap-3">
                            <div>
                                <label class="flex cursor-pointer items-center justify-center rounded-md border border-gray-100 bg-white px-3 py-2 text-gray-900 hover:border-gray-200 has-[:checked]:border-blue-500 has-[:checked]:bg-indigo-600 has-[:checked]:text-white" >
                                    <input type="radio" name="mode" value="generate" id="generate" class="sr-only" checked />
                                    <p class="text-sm font-medium">Generate</p>
                                </label>
                            </div>
                            
                            <div>
                                <label class="flex cursor-pointer items-center justify-center rounded-md border border-gray-100 bg-white px-3 py-2 text-gray-900 hover:border-gray-200 has-[:checked]:border-blue-500 has-[:checked]:bg-indigo-600 has-[:checked]:text-white" >
                                    <input type="radio" name="mode" value="read" id="read" class="sr-only" />
                                    <p class="text-sm font-medium">Read</p>
                                </label>
                            </div>
                        </fieldset>
                    </div>
                    <div class="hidden" id="form-read">
                        <div class="max-w-xs mt-2">
                            <label class="text-gray-600">
                                Put your qr code image
                            </label>
                            <input type="file" id="image-file" accept="image/*" class="w-full p-2.5 text-gray-800 bg-white disabled:opacity-30 border rounded-md shadow-sm outline-none appearance-none focus:border-indigo-600" required/>
                        </div>

                        <button onclick="read()" class="mt-5 px-4 py-2 text-indigo-600 font-medium bg-indigo-50 rounded-full inline-flex items-center" href="javascript:void()">
                            Read
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 ml-1 duration-150" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="M13 7l5 5m0 0l-5 5m5-5H6"></path>
                            </svg>
                        </button>
                    </div>
                    <div id="form-generate">
                        <div class="max-w-xs mt-2">
                            <label class="text-gray-600">
                                Choose Type of Code
                            </label>
                            <select id="type-code" onchange="update_type()" class="w-full p-2.5 text-gray-800 bg-white border rounded-md shadow-sm outline-none appearance-none focus:border-indigo-600">
                                <option value="qr-code">QR Code</option>
                                <option value="bar-code">Bar Code</option>
                            </select>
                        </div>
                        <div class="max-w-xs mt-2">
                            <label class="text-gray-600">
                                Enter your data to generate the code
                            </label>
                            <input type="text" value="" id="data" placeholder="Enter your text or link" class="w-full p-2.5 text-gray-800 bg-white border rounded-md shadow-sm outline-none appearance-none focus:border-indigo-600" required/>
                        </div>
                        
                        <div class="max-w-xs mt-2" id="div-bg">
                            <label class="text-gray-600">
                                Background
                            </label>
                            <input type="color" value="#ffffff" id="background" class="w-full h-10 p-2.5 text-gray-800 bg-white disabled:opacity-30 border rounded-md shadow-sm outline-none appearance-none focus:border-indigo-600"/>
                        </div>

                        <div class="max-w-xs mt-2" id="div-fg">
                            <label class="text-gray-600">
                                Color
                            </label>
                            <input type="color" value="#000000" id="foreground" class="w-full h-10 p-2.5 text-gray-800 bg-white disabled:opacity-30 border rounded-md shadow-sm outline-none appearance-none focus:border-indigo-600"/>
                        </div>
                        <div class="max-w-xs mt-2">
                            <label class="text-gray-600">
                                Add image 
                            </label>
                            <input type="text" value="" id="image-link" placeholder="Enter your image link" class="w-full p-2.5 text-gray-800 bg-white disabled:opacity-30 border rounded-md shadow-sm outline-none appearance-none focus:border-indigo-600" required/>
                        </div>
                        <div class="max-w-xs mt-2" id="div-form">
                            <label class="text-gray-600">
                                Choose form
                            </label>
                            <select id="form-code" class="w-full p-2.5 text-gray-800 bg-white disabled:opacity-30 border rounded-md shadow-sm outline-none appearance-none focus:border-indigo-600">
                                <option value="square">Square</option>
                                <option value="gapped_square">Gapped Square</option>
                                <option value="circle">Circle</option>
                                <option value="rounded">Rounded</option>
                                <option value="vertical_bar">Vertical Bar</option>
                                <option value="horizontal_bar">Horizontal Bar</option>
                            </select>
                        </div>
                        <button id="btn" onclick="generate()" class="mt-5 px-4 py-2 text-indigo-600 font-medium bg-indigo-50 rounded-full inline-flex items-center" href="javascript:void()">
                            Generate
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 ml-1 duration-150" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="M13 7l5 5m0 0l-5 5m5-5H6"></path>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="mt-5 mx-auto lg:mt-0 lg:w-auto" id="img-div">
                </div>
            </div>
        </section>
        <!-- FORM -->
        <!-- Footer -->
        <footer class="pt-10">
            <div
            class="flex flex-inline py-10 border-t items-center justify-between sm:flex"
            >
            <a href="https://www.chan-stephane.me" class="text-gray-600 ml-10" id="copyright">
            </a>
            <a href="https://github.com/chan-stephane">
                <svg
                class="w-6 h-6 text-gray-600 hover:text-gray-800 mr-10"
                fill="currentColor"
                        viewBox="0 0 24 24"
                        aria-hidden="true"
                        >
                        <path fill-rule='evenodd' d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z" clip-rule='evenodd'></path>
                    </svg>
                </a>
            </div>
        </footer>
        <!-- Footer -->
        
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
        <script type="text/javascript" src={{ url_for('static', path='/main.min.js') }}></script>
    </body>
</html>